# Local development env sample
# Copy this file to .env and fill in any sensitive values.

APP_ENV=dev
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=ab-test-telemetry-producer
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
KAFKA_SASL_MECHANISM=
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_COMPRESSION_TYPE=lz4
KAFKA_ENABLE_IDEMPOTENCE=true
KAFKA_LINGER_MS=50
KAFKA_MAX_IN_FLIGHT=1
KAFKA_RETRIES=5

# Use a local folder for dev or an S3 path for AWS
# Local example:
S3_LAKE_PATH=/opt/airflow/data/raw/

# AWS example:
# S3_LAKE_PATH=s3a://telemetry-lake-dev/raw/

SPARK_MASTER=local[*]
SPARK_DEPLOY_MODE=client

AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
